@tailwind base;
@tailwind components;
@tailwind utilities;

.serial-number {
  letter-spacing: 0.25em;
  font-weight: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  caret-color: blu;
}

.serial-number::after {
  content: '-';
}

.serial-number::nth-child(4)::after,
.serial-number::nth-child(8)::after,
.serial-number::nth-child(12):after{
  content: "";
}

.pagination {
  display: flex;
  justify-content: center;
  border-style: solid;
  border: 1px solid lightgray;
}

.page-item, .page-link {
  margin: 5px 5px;
  border-style: solid;
  border-color: gray;  
  #transform: rotate(-90deg);
}

li.active {
  background-color: skyblue;
  color: white;
}

.link {
  @apply text-white block p-3 font-bold hover:text-yellow-500
}

.themegrad{
  @apply bg-gradient-to-r from-blue-100 to-blue-300
}

.button1{
  @apply border-4 border-yellow-400 text-white font-bold p-2 rounded-full hover:bg-white hover:text-black transition duration-500
}

.list {
  @apply ml-4 text-2xl
}

.list {
  list-style-type: number
}

.list1{
  list-style-type: circle;
}

.list2{
  list-style-type: square;
}